@import "colors-waybar.css";
@import "workspace.css";
@import "custom/dec.css";
@import "bar.css";
@import "general.css";
@import "stock.css";
@import "custom/launcher.css";
@import "custom/battery.css";
@import "custom/apptitle.css";
@import "custom/clock.css";
@import "custom/privacycontainer.css";
@import "custom/systemcontainer.css";


* {
  border: none;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
}

/* window#waybar { */
/* background-color: rgba(33, 35, 55, 0.95); */

/* border-radius: 10px; */
/* } */

#window {
  /* margin-left: 5px; */
  /* margin-top: 1px; */
  background-color: rgba(0, 0, 0, 0);
  /* border-radius: 10px; */
}
